@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


:root{
  --color-brown: #4b2616;
  --color-brown-dark: #3B221F;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  width: 40px;
  height: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 22px !important;
}

/* Move pagination dots vertically to left side */
.hero-pagination.swiper-pagination-bullets {
  position: absolute !important;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: flex !important;
  flex-direction: column;
  gap: 8px;
}

.hero-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.4;
  border-radius: 50%;
  transition: 0.3s;
}

.hero-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}
